body {
    background: linear-gradient(rgba(0, 89, 255, 0.8) 0%, rgb(0, 62, 177) 60%, rgb(1, 25, 68) 100%);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    height: 100vh;
}

li {
    width: max-content;
    text-align: center;
}

ul {
    display: flex;
    flex-direction: column;  
    align-items: flex-start;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: max-content;
    max-width: 800px;
}

a {
    color: rgb(71, 190, 236);
}

a:visited {
    color: rgb(3, 151, 209);
}